<div class="relative">
    <header class="flex justify-center bg-yellow-300">
        <h1 class="text-4xl py-3">Logo da empresa</h1>
    </header>

    <main class="container mx-auto mt-3">
        <div>
            <div>
                <h2 class="text-3xl mb-3">Permissão de trabalho</h2>
            </div>
            <div class="border border-black rounded mb-5">

                <form
                    (submit)="findPermissionByNumber(); $event.preventDefault()"
                    class="flex flex-col md:flex-row bg-yellow-300 rounded-t p-3 gap-4"
                >
                    <div class="flex flex-col">
                        <label  class="text-sm font-medium mb-1" for="permissionsNumber">Número da Permissão:</label>
                        <select
                            [(ngModel)]="numberPermission"
                            id="permissionsNumber"
                            name="permissionsNumber"
                            class="bg-slate-100 border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                            <option
                                *ngFor="let permissionNumber of permissionsNumber"
                                [value]="permissionNumber"
                                class="bg-slate-100"
                            >
                                {{ permissionNumber }}
                            </option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full md:w-auto">
                        <p class="text-sm font-medium mb-1">Nome da Permissão de trabalho:</p>
                        <p class="bg-slate-100 border border-gray-300 rounded-md p-2 h-10">
                            {{ selectedPermission?.nome_permissao || 'Nenhuma permissão selecionada' }}
                        </p>
                    </div>

                    <div class="flex items-end">
                        <button
                            type="submit"
                            class="bg-slate-100 px-5 py-2 rounded-md hover:bg-slate-200 border border-gray-300 transition"
                        >
                            Buscar
                        </button>
                        <button
                            *ngIf="selectedPermission" 
                            (click)="generatePdf()"
                            class="bg-slate-100 mx-4 px-5 py-2 rounded-md hover:bg-slate-200 border border-gray-300 transition">
                            Gerar PDF
                        </button>
                        <button
                            *ngIf="hasSignatureCategory()"
                            (click)="openSignatureModal(signaturePad)"
                            class="bg-slate-100 px-5 py-2 rounded-md hover:bg-slate-200 border border-gray-300 transition"
                        >
                            Assinatura
                        </button>

                    </div>
                </form>

                <div class="overflow-x-auto">
                    <table class="table-auto border-collapse border border-gray-300 w-full text-left">
                        <thead>
                            <tr class="bg-gray-100">
                            <th class="border border-gray-300 px-4 py-2 w-1/4">Categoria e Itens</th>
                            <th class="border border-gray-300 px-4 py-2 w-3/4">Valor</th>
                            </tr>
                        </thead>
                        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                            <ng-container *ngFor="let category of getCategoryNames()">

                                    <tr (click)="toggleCategoryVisibility(category)" cdkDrag>
                                        <td  colspan="2" class="bg-gray-200 text-gray-700 font-bold px-4 py-2">
                                            {{ category }}
                                        </td>
                                        <ng-template cdkDragPlaceholder>
                                            <tr class="bg-yellow-200 text-center font-bold">
                                              <td colspan="2">Arrastando...</td>
                                            </tr>
                                        </ng-template>
                                    </tr>
                                    <ng-container
                                    *ngIf="isCategoryVisible(category)"
                                    >
                                        <tr
                                        *ngFor="let item of groupedItems[category]"
                                        class="hover:bg-gray-50"
                                        >
                                            <td class="border border-gray-300 px-4 py-2">
                                                {{ item.item }}
                                            </td>
                                            <td class="border border-gray-300 px-4 py-2" >
                                                <ng-container *ngIf="hasSignatureSigned(category); else noSignatureSigned">
                                                    <img [src]="item.valor">
                                                </ng-container>    
                                                <ng-template #noSignatureSigned>
                                                    {{ item.valor }}
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </ng-container>
                            </ng-container>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>

    <app-signature-pad
        #signaturePad
        (signatureSaved)="handleSignatureSaved($event)"
    >
    </app-signature-pad>

</div>


    


    <!-- drag and drop -->
<!--
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div
          *ngFor="let category of getCategoryNames()"
          cdkDrag
        >
            <div *cdkDragPlaceholder></div>
            <h4 (click)="toggleCategoryVisibility(category)">
                <strong>{{ category }}</strong>
            </h4>
            <ul *ngIf="isCategoryVisible(category)">
                <li *ngFor="let item of groupedItems[category]">
                    {{ item.item }} - {{ item.valor }}
                </li>
            </ul>
        </div>
    </div> 
    -->


